.hobbiesZone {
	.circleHobbieList {
		margin: 0 -15px;
	}
	.circleHobbieZone {
		text-align: center;
		float: left;
		width: 25%;
		margin-bottom: 15px;
		.font-sans-regular();
		.circleHobbie {
			border: 2px solid @color-gray-dark;
			display: inline-block;
			border-radius: 999px;
			height: 60px;
			width: 60px;
			text-align: center;
			line-height: 60px;
			font-size: 25px;
			color:@color-gray-dark;
			margin-bottom: 5px;
		}
		.lbl {
			font-size: 14px;
		}
	}
}