.container {
}
// SIDE
.sideZone {
	text-align: justify;
}

// CONTENT
.contentZone {
	text-align: justify;
}


@media (min-width: @screen-md-min) {
  .sideZone {
  	border-right: 1px solid @color-gray;
  	padding:0 20px;
  }
  .contentZone {
  	padding:0 20px;
  }
}