.container {
}
// SIDE
.sideZone {
	section {
		margin-bottom: 15px;
		.clearfix();
	}
}

// CONTENT
.contentZone {
	section { 
		margin-bottom: 15px;
		.clearfix();
	}
}


@media (min-width: @screen-md-min) {
  .sideZone {
  	border-right: 1px solid @color-gray;
  	padding:0 20px;
  }
  .contentZone {
  	padding:0 20px;
  }
}